@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Arimo';
    src: url(/fonts/Arimo-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-color: #9d4eff;
    --bg-color: #1d1a37;
    --text-color: #ffffff;
    --text-muted: #bbbbbb;
    --border-color: #333;
    --accent-hover: #821cff;
    font-family: 'Monserrat';
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat';
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* Шапка */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 60px;
    height: 70px;
    filter: contrast(0);
}

.nav__list {
    display: flex;
}

.nav__link {
    margin-right: 20px;
}

.nav__link:hover {
    color: var(--accent-color);
}


/* Слайдер */


.slider {
    margin-bottom: 40px;
}

.slider__wrapper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slider__wrapper::-webkit-scrollbar {
    display: none;
}

.slider__item {
    min-width: 100%;
    scroll-snap-align: start;
    position: relative;
    height: 750px;
}

.slider__item img {
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    background-color: #333;
}

.slider__content {
    position: absolute;
    bottom: 40px;
    left: 20px;
    z-index: 2;
}

.slider__title {
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.slider__price {
    color: var(--accent-color);
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.slider__btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: #fff;
    border-radius: 5px;
}

.slider__btn:hover {
    background-color: var(--accent-hover);
}

.slider__nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: -30px;
    position: relative;
    z-index: 5;
    padding-bottom: 10px;
}

.slider__nav a {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.5;
}

.slider__nav a:hover {
    opacity: 1;
}

.slider__nav .slider__nav--active {
    background-color: var(--accent-color);
}